body
  overflow-y: scroll


#logo h1 a
  display: block
  width: 208px
  height: 66px
  color: #332222
  margin-top: 38px
  outline: none
  text-decoration: none
  text-shadow: 1px 1px 1px #AAAAAA


h2
  display: none

a
  text-decoration: none


#search
  height: 32px
  margin-top: 39px


  #search_box
    border-color: #666666 #999999 #CCCCCC
    border-style: solid
    border-width: 1px
    font-family: Helvetica, Arial, sans-serif
    font-size: 16px
    margin: 0
    padding: 6px 5px 4px
    width: 360px


  #search_submit
    cursor: pointer
    height: 32px
    margin: 0 0 0 5px
    width: 70px
    -moz-border-radius: 10px
    -webkit-border-radius: 10px


.body
  margin-bottom: 30px  


#sidebar h4
  font-size: 1.4em
  font-weight: bold
  color: #FF6400
  margin: 2px 0


.slide-box
  background-color: #EEEEEE
  margin: 0
  padding: 6px

  .slide-block
    background-color: #FFFFFF
    border: 1px solid #BBBBBB
    clear: left
    margin-top: 0
    padding: 10px

    h3
      font: 20px verdana

.slide
  padding-left: 20px
  margin-bottom: 22px

  .header
    border-bottom: 1px solid #DDDDDD
    margin: 10px 0 0 0
    height: 22px
    padding-bottom: 5px
    h3
      float: left
      margin-bottom: 0
      a
        color: #2276BB
    span.time
      color: #BBBBBB
      float: right
      margin-top: 5px

  .slide_meta
    clear: both
    margin-bottom: 0.25em

  .author
    padding: 0.1em 0.3em
    color: #FF6400

  .domain
    \:link, :visited
      color: #222

  .description
    color: #333
    font-size: 1em
    margin-bottom: 5px

.tags
  a
    background-color: #EEEEEE
    border-bottom: 2px solid #3E6D8E
    border-right: 2px solid #7F9FB6
    display: inline-block
    font-size: 12px
    color: #2276BB
    margin-right: 5px
    padding: 2px 5px
    vertical-align: middle

.cloud_5
  font-size: 10px


.cloud_4
  font-size: 12px


.cloud_3
  font-size: 16px


.cloud_2
  font-size: 20px


.cloud_1
  font-size: 24px


.module
  border: 1px solid #BBBBBB
  margin-bottom: 15px
  padding: 5px

  .feed
    height: 32px
  .user_feed
    height: 20px
    a
      vertical-align: bottom
      display: inline-block
      margin: 0 2px
      color: #2276BB

  a[rel=alternate]
    margin-right: 10px

  a
    color: #0068BD

.pagination
  display: inline
  float: right
  margin-top: 20px
  .disabled
    display: none
  a
    border: 1px solid #CCC
    line-height: 30px
    margin: 0 2px
    padding: 5px 10px
    color: #2276BB
    text-align: center

.footer
  border-top: solid 1px #CCC
  padding: 10px 0
  color: #555
