body {
  overflow-y: scroll; }

#logo h1 a {
  display: block;
  width: 208px;
  height: 66px;
  margin-top: 38px;
  outline: none;
  text-decoration: none; }

h2 {
  display: none; }

a {
  text-decoration: none; }

#search {
  height: 32px;
  margin-top: 39px; }
  #search #search_box {
    border-color: #666666 #999999 #CCCCCC;
    border-style: solid;
    border-width: 1px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 6px 5px 4px;
    width: 360px; }
  #search #search_submit {
    color: #FFFFF;
    cursor: pointer;
    height: 32px;
    margin: 0 0 0 5px;
    width: 70px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }

.body {
  margin-bottom: 30px; }

#sidebar h4 {
  font-size: 1.4em;
  font-weight: bold;
  color: #FF6400;
  margin: 2px 0; }

.slide-box {
  background-color: #EEEEEE;
  margin: 0;
  padding: 6px; }
  .slide-box .slide-block {
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    clear: left;
    margin-top: 0;
    padding: 10px; }
    .slide-box .slide-block h3 {
      color: #FF6400; }

.slide {
  padding-left: 20px;
  margin-bottom: 22px; }
  .slide .header {
    border-bottom: 1px solid #DDDDDD;
    margin: 10px 0 0 0;
    height: 22px; }
    .slide .header h3 {
      float: left;
      margin-bottom: 0; }
      .slide .header h3 a {
        color: #0068BD; }
    .slide .header span.time {
      color: #BBBBBB;
      float: right;
      margin-top: 5px; }
  .slide .slide_meta {
    margin-bottom: 0.25em; }
  .slide .author {
    padding: 0.1em 0.3em;
    color: #FF6400; }
  .slide .domain :link, .slide .domain :visited {
    color: #222; }
  .slide .description {
    color: #333;
    font-size: 1.2em; }

.tags strong {
  font-color: #98968B; }
.tags .tag_list {
  display: inline;
  margin-left: 0; }
  .tags .tag_list li {
    display: inline; }
    .tags .tag_list li a {
      color: #FF6400;
      padding-left: 5px; }

.cloud_5 {
  font-size: 1.0em; }

.cloud_4 {
  font-size: 1.1em; }

.cloud_3 {
  font-size: 1.2em; }

.cloud_2 {
  font-size: 1.3em; }

.cloud_1 {
  font-size: 1.4em; }

.module {
  border: 1px solid #BBBBBB;
  margin-bottom: 15px;
  padding: 5px; }
  .module .feed {
    height: 32px; }
  .module .user_feed {
    height: 20px; }
    .module .user_feed a {
      height: 16px;
      line-height: 16px;
      vertical-align: bottom;
      display: inline-block;
      color: #FF6400; }
  .module a[rel=alternate] {
    margin-right: 10px; }
  .module a {
    color: #0068BD; }

.pagination a {
  padding: 3px 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #0068DB; }
.pagination span {
  padding: 3px 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #999;
  color: #999;
  border-color: #999; }
  .pagination span.current {
    color: #FFF;
    background: #0068DB;
    border-color: #0068DB; }

.footer {
  border-top: solid 1px #CCC;
  padding: 10px 0;
  color: #555; }
