.copyright.span-19 Coyright 2010 RubySlide.com
.credit.span-5.last
  = link_to image_tag('/images/design_by_done21.png', :alt => "Design by :Done21"), "http://done21.com", :title => "Design By Done21"
